:root{
    --background-color: #2d3436;
    --primary-color: #40739e;
    --secondary-color: #273c75;
    --accent-color: #fdcb6e;
    --shade: rgba(0,0,0,0.35);
    --off-white: rgba(255,255,255,0.95);
}

/*HTML ELEMENTS*/
html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: var(--background-color);
}   
/*HTML CLASSES*/
.nav{
    overflow: hidden; 
    background-image: linear-gradient(to right,
     var(--primary-color), var(--secondary-color));
    
}
.nav, a{
    padding: 30px;
    text-decoration: none;
    color: var(--off-white);
    text-shadow: 3px 3px var(--shade);
    text-transform: uppercase;
    line-height: 35px;
    transition: text-shadow 0.4s ease;
}
.nav, a:hover{
    text-shadow: 7px 7px var(--shade);
}