:root{
    --background-color: #dfe6e9;
    --primary-color: #2c2c54;
    --secondary-color: #40407a;
    --accent-color: #fdcb6e;
    --shade: rgba(0,0,0,0.35);
    --off-white: rgba(255,255,255,0.95);
}

/*HTML ELEMENTS======================================================*/
html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: var(--background-color);
}
footer{
    font-size: 11px;
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--shade);
    color: var(--off-white);
}
/*HTML CLASSES======================================================*/
.time{
  font-size: 14px;
  color: var(--secondary-color);
}
.solid-line{
  border-bottom: 1px solid var(--shade);
}
.image{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-bottom: 3px solid var(--shade);
  transition: all 0.4s ease;
}
.image:hover{
  transform: scale(2);
  z-index: 2;
}
.box{
  vertical-align: top;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.30);
  display: inline-block;
  width: 40%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px var(--shade);
  padding: 10px;
  margin: 15px;
  top: 0;
}
.box a{
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.main-content{
  position: fixed;
  color: var(--primary-color);
  margin-left: 285px;
  animation: transitionIn 2s;
  padding: 25px;
}
.main-content a{
  color: var(--offwhite);
  text-shadow: 1px 1px var(--shade);
  display:flex;
  padding: 10px;
  transition: all 0.4s ease;
}
.main-content  a:hover{
  color: var(--accent-color);
  transform: translateX(10px);
}
.main-content h1{
  text-align: center;
}
.main-content ul li{
  list-style-type: none;
}
.contact-info{
  background-color: var(--primary-color);
  font-size: 13px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 130px;
  width: 280px;
  float: left;
}
.contact-info a{
  text-shadow: 1px 1px var(--shade);
  transition: color 0.4s ease;
}
.contact-info a:hover{
  color: var(--accent-color);
}
.wrapper{
  text-align: center;
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: var(--secondary-color);
  text-decoration: none;
}
.sidebar{
  color: var(--off-white);
  position: relative;
  text-align: center;
}
.sidebar h1{
  transform: translateX(-10%);
  text-shadow: 2px 2px var(--shade);
  color: var(--off-white);
  margin: 0 15px;
  text-align: center;
}
.sidebar ul li a{
  text-shadow: 2px 2px var(--shade);
  width: 100%;
}
.sidebar ul li{
  width: 280px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid var(--shade);
  margin-top: 15px;
  margin-bottom: 15px;
  transform: translateX(-15%);
  list-style-type: none;
  transition: all 0.4s ease;
}
.sidebar ul li:hover{
  background-color: var(--primary-color);
  border-radius: 40px;
}
.hamburger{
    display: none;
    float: left;
    cursor: pointer;
    text-shadow: 3px 3px var(--shade);
    font-size: 35px;
    transition: all 0.4s ease;
    outline: none;
    color: var(--off-white);
}
.hamburger:hover{
    text-shadow: 5px 5px var(--shade);
}
.drop-down:checked + .hamburger{
    transform: rotate(90deg);
}
.container{
    margin: 20px 20px;
    color: var(--off-white);
    animation: transitionIn 2s;
}
.nav{
    background-image: linear-gradient(to right,
     var(--primary-color), var(--secondary-color));

}
.nav, a{
    padding: 30px;
    text-decoration: none;
    color: var(--off-white);
    text-shadow: 3px 3px var(--shade);
    text-transform: uppercase;
    line-height: 35px;
    transition: text-shadow 0.4s ease;
}
/*ANIMATIONS=========================================================*/
@keyframes transitionIn {
    from{
      opacity: 0;
      transform: translateY(10px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes blow-up{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2);
  }
}